// 注册成功后的显示页面
div.success{
    width:700px;
    height:400px;
    background:#90c223;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border-radius: 50px;
    opacity:0;
    div.duihao{
        margin:0 auto;
        img{
            width:250px;
            height:250px;
            margin-left:220px;
        }
    }
    div.word{
        font-size:40px;
        text-align:center;
    }
    div.gologin{
        width:400px;
        height:50px;
        text-align: center;
        background:yellow;
        margin-left:150px;
        margin-top:30px;
        border-radius: 30px;
        a{
            font-size:30px;
            text-align: center ;
            text-decoration: none;
        }
    }
}