#nav{
    .nav-con{
        .nav-list{
            li{
                ul.show-nav{
                    li.li1{ 
                        &:hover{
                            background:#aaa;
                            div.show-menu{
                                opacity:1;
                                display:block;
                             }  
                        } 
                        div.show-menu{
                            width:984px;
                            height:415px;
                            background:#fff;
                            position: absolute;
                            left:100%;
                            top:-9px;
                            padding: 8px;     
                            overflow: hidden;
                            opacity:0;
                            transition: opacity .3s;
                            display:none;
                            ul.sec-menu{
                                li{
                                    div.right-img{
                                        width:240px;
                                        height:422px;
                                        float:right;
                                        a.one{
                                            img{
                                                margin-bottom:4px;
                                            }
                                        }
                                    }
                                    div.left-list{
                                        width:725px;
                                        background:#fff;
                                        margin: 10px 0 0 0px;
                                        line-height: 23px;
                                        position:relative;
                                        overflow: hidden;
                                        span{
                                            width:75px;
                                            height:23px;
                                            margin-right:23px;
                                            text-align: right;
                                            a{
                                                color:#333;
                                            }
                                        }
                                        div.menu-a{
                                            width:620px;
                                            float:left;
                                            padding-bottom:5px;
                                            line-height: 23px;
                                            border-bottom: 1px dashed #f3f3f3;
                                            a{  
                                                height:23px;
                                                margin-right:18px;
                                                color:#666;
                                                line-height:23px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }


                    li.li2{ 
                        &:hover{
                            background:#aaa;
                            div.show-menu{
                                opacity:1;
                               display:block;
                             }  
                        }  
                       div.show-menu{
                           width:984px;
                           height:415px;
                           background:#fff;
                           position: absolute;
                           left:100%;
                           top:-38px;
                           padding: 8px;     
                           overflow: hidden;
                           opacity:0;
                           transition: opacity .3s;
                           display:none;
                           ul.sec-menu{
                               li{
                                   div.right-img{
                                       width:240px;
                                       height:422px;
                                       float:right;
                                       a.one{
                                           img{
                                               margin-bottom:4px;
                                           }
                                       }
                                   }
                                   div.left-list{
                                       width:725px;
                                       background:#fff;
                                       margin: 10px 0 0 0px;
                                       line-height: 23px;
                                       position:relative;
                                       overflow: hidden;
                                       span{
                                           width:75px;
                                           height:23px;
                                           margin-right:23px;
                                           text-align: right;
                                           a{
                                               color:#333;
                                           }
                                       }
                                       div.menu-a{
                                           width:620px;
                                           float:left;
                                           padding-bottom:5px;
                                           line-height: 23px;
                                           border-bottom: 1px dashed #f3f3f3;
                                           a{  
                                               height:23px;
                                               margin-right:18px;
                                               color:#666;
                                               line-height:23px;
                                           }
                                       }
                                   }
                               }
                           }
                       }
                   }

                   li.li3{ 
                    
                    &:hover{
                        background:#aaa;
                        div.show-menu{
                            opacity:1;
                            display:block;
                         }  
                    }
                      
                   div.show-menu{
                       width:984px;
                       height:415px;
                       background:#fff;
                       position: absolute;
                       left:100%;
                       top:-67px;
                       padding: 8px;     
                       overflow: hidden;
                       opacity:0;
                       transition: opacity .3s;
                       display:none;
                       ul.sec-menu{
                           li{
                               div.right-img{
                                   width:240px;
                                   height:422px;
                                   float:right;
                                   a.one{
                                       img{
                                           margin-bottom:4px;
                                       }
                                   }
                               }
                               div.left-list{
                                   width:725px;
                                   background:#fff;
                                   margin: 10px 0 0 0px;
                                   line-height: 23px;
                                   position:relative;
                                   overflow: hidden;
                                   span{
                                       width:75px;
                                       height:23px;
                                       margin-right:23px;
                                       text-align: right;
                                       a{
                                           color:#333;
                                       }
                                   }
                                   div.menu-a{
                                       width:620px;
                                       float:left;
                                       padding-bottom:5px;
                                       line-height: 23px;
                                       border-bottom: 1px dashed #f3f3f3;
                                       a{  
                                           height:23px;
                                           margin-right:18px;
                                           color:#666;
                                           line-height:23px;
                                       }
                                   }
                               }
                           }
                       }
                   }
               }

               li.li4{ 
                    
                &:hover{
                    background:#aaa;
                    div.show-menu{
                        opacity:1;
                        display:block;
                     }  
                }
                  
               div.show-menu{
                   width:984px;
                   height:415px;
                   background:#fff;
                   position: absolute;
                   left:100%;
                   top:-96px;
                   padding: 8px;     
                   overflow: hidden;
                    opacity:0;
                   transition: opacity .3s;
                   display:none;
                   ul.sec-menu{
                       li{
                           div.right-img{
                               width:240px;
                               height:422px;
                               float:right;
                               a.one{
                                   img{
                                       margin-bottom:4px;
                                   }
                               }
                           }
                           div.left-list{
                               width:725px;
                               background:#fff;
                               margin: 10px 0 0 0px;
                               line-height: 23px;
                               position:relative;
                               overflow: hidden;
                               span{
                                   width:75px;
                                   height:23px;
                                   margin-right:23px;
                                   text-align: right;
                                   a{
                                       color:#333;
                                   }
                               }
                               div.menu-a{
                                   width:620px;
                                   float:left;
                                   padding-bottom:5px;
                                   line-height: 23px;
                                   border-bottom: 1px dashed #f3f3f3;
                                   a{  
                                       height:23px;
                                       margin-right:18px;
                                       color:#666;
                                       line-height:23px;
                                   }
                               }
                           }
                       }
                   }
               }
           }
           li.li5{ 
                    
            &:hover{
                background:#aaa;
                div.show-menu{
                    opacity:1;
                    display:block;
                 }  
            }
              
           div.show-menu{
               width:984px;
               height:415px;
               background:#fff;
               position: absolute;
               left:100%;
               top:-125px;
               padding: 8px;     
               overflow: hidden;
               opacity:0;
               transition: opacity .3s;
               display:none;
               ul.sec-menu{
                   li{
                       div.right-img{
                           width:240px;
                           height:422px;
                           float:right;
                           a.one{
                               img{
                                   margin-bottom:4px;
                               }
                           }
                       }
                       div.left-list{
                           width:725px;
                           background:#fff;
                           margin: 10px 0 0 0px;
                           line-height: 23px;
                           position:relative;
                           overflow: hidden;
                           span{
                               width:75px;
                               height:23px;
                               margin-right:23px;
                               text-align: right;
                               a{
                                   color:#333;
                               }
                           }
                           div.menu-a{
                               width:620px;
                               float:left;
                               padding-bottom:5px;
                               line-height: 23px;
                               border-bottom: 1px dashed #f3f3f3;
                               a{  
                                   height:23px;
                                   margin-right:18px;
                                   color:#666;
                                   line-height:23px;
                               }
                           }
                       }
                   }
               }
           }
       }            

       li.li6{ 
                    
        &:hover{
            background:#aaa;
            div.show-menu{
                opacity:1;
                display:block;
             }  
        }
          
       div.show-menu{
           width:984px;
           height:415px;
           background:#fff;
           position: absolute;
           left:100%;
           top:-154px;
           padding: 8px;     
           overflow: hidden;
           opacity:0;
           transition: opacity .3s;
           display:none;
           ul.sec-menu{
               li{
                   div.right-img{
                       width:240px;
                       height:422px;
                       float:right;
                       a.one{
                           img{
                               margin-bottom:4px;
                           }
                       }
                   }
                   div.left-list{
                       width:725px;
                       background:#fff;
                       margin: 10px 0 0 0px;
                       line-height: 23px;
                       position:relative;
                       overflow: hidden;
                       span{
                           width:75px;
                           height:23px;
                           margin-right:23px;
                           text-align: right;
                           a{
                               color:#333;
                           }
                       }
                       div.menu-a{
                           width:620px;
                           float:left;
                           padding-bottom:5px;
                           line-height: 23px;
                           border-bottom: 1px dashed #f3f3f3;
                           a{  
                               height:23px;
                               margin-right:18px;
                               color:#666;
                               line-height:23px;
                           }
                       }
                   }
               }
           }
       }
   }

   li.li7{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-183px;
       padding: 8px;     
       overflow: hidden;
       opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}
li.li8{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-212px;
       padding: 8px;     
       overflow: hidden;
       opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}
li.li9{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-241px;
       padding: 8px;     
       overflow: hidden;
       opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}

li.li10{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-270px;
       padding: 8px;     
       overflow: hidden;
       opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}

li.li11{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-299px;
       padding: 8px;     
       overflow: hidden;
       opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}

li.li12{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-328px;
       padding: 8px;     
       overflow: hidden;
       opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}

li.li13{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-357px;
       padding: 8px;     
       overflow: hidden;
        opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}
li.li14{ 
                    
    &:hover{
        background:#aaa;
        div.show-menu{
            opacity:1;
            display:block;
         }  
    }
      
   div.show-menu{
       width:984px;
       height:415px;
       background:#fff;
       position: absolute;
       left:100%;
       top:-386px;
       padding: 8px;     
       overflow: hidden;
       opacity:0;
       transition: opacity .3s;
       display:none;
       ul.sec-menu{
           li{
               div.right-img{
                   width:240px;
                   height:422px;
                   float:right;
                   a.one{
                       img{
                           margin-bottom:4px;
                       }
                   }
               }
               div.left-list{
                   width:725px;
                   background:#fff;
                   margin: 10px 0 0 0px;
                   line-height: 23px;
                   position:relative;
                   overflow: hidden;
                   span{
                       width:75px;
                       height:23px;
                       margin-right:23px;
                       text-align: right;
                       a{
                           color:#333;
                       }
                   }
                   div.menu-a{
                       width:620px;
                       float:left;
                       padding-bottom:5px;
                       line-height: 23px;
                       border-bottom: 1px dashed #f3f3f3;
                       a{  
                           height:23px;
                           margin-right:18px;
                           color:#666;
                           line-height:23px;
                       }
                   }
               }
           }
       }
   }
}

       
                }
            }
        }
    }
}